/* *{
  margin : 0;
  padding : 0;
} */

.backgr{
  background-color:rgb(219, 223, 234);
  color: rgb(63, 34, 227);
  height: 800px;
  width:100%;
}

.submitbtn,.exportbtn{
  height : 30vh;
  margin : 10px;
  display:flex ;
  justify-content: center;
  align-items: center;
}


.btn1{
  background-color:#8294C4;
  /* justify-content: center; */
  color: aliceblue;
  padding: 10px;
  width: 6%;
  font-weight: bold;
  
}
.btn2{
  background-color: #8294C4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  /* text-align: center; */
  padding: 10px;
  width: 6%;
  font-weight: bold;
}
